<div id="<%= dom_id comment %>">
  <p>
    <strong>Title:</strong>
    <%= comment.title %>
  </p>
  <span><%= comment.created_at%></span>
  <p class="link">
    <%= link_to "show", comment%>
    <%= link_to "edit", edit_comment_path(comment)%>
    <%= link_to "delete", comment_path(comment), method: :delete%>
  </p>
</div>
