<p style="color: green" id='notice'><%= notice %></p>

<h1>
  Comments
  <span id='comment_counter'><%= Comment.count%></span>
</h1>
<div id='new_comment'>
  <%= render partial: 'comments/form', comment: Comment.new%>
</div>

<div id="comments">
   <%= render @comments %>
</div>

<%= link_to "New comment", new_comment_path %>
